<a class="btn btn-default" href="/positions/" role="button">Back To Lists</a>
</br>
</br>
<h1><center>Detail Position: <b><%= @position.name %></b></center></h1>
</br>
<div class="row">
    <div class="col -md-8 col -md-offset-2" align="center">
    <label class="col -md-2">Name</label>
        <div class="col -md-8"><%= @position.name %></div>
    </div>
    </br>

    <div class="col -md-8 col -md-offset-2" align="center">
    <label class="col -md-2">Code Position</label>
        <div class="col -md-8"><%= @position.code %></div>
    </div>
</br>
    <div class="col -md-8 col -md-offset-2" align="center">
    <label class="col -md-2">Eligibility Leave</label>
        <div class="col -md-8"><%= @position.eligibilityleave %></div>
    </div>
</div>
