<h1>Details for Leavetype: <%= @leavetype.name %></h1>
<hr>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <label class="col-md-2">Name</label>
      <div class="col-md-6"><%= @leavetype.name %></div>
    </div>   
</div>