<div class="about-app pd-md animated pulse">
    <a href="javascript:;">
        <img src="<%= asset_path('img/about.png') %>" alt="">
    </a>
    <span>
        <b>Cameo</b>&#32;is a responsive admin template powered by bootstrap 3.
        <a href="javascript:;">
            <b>Find out more</b>
        </a>
    </span>
</div>

<div class="footer-toolbar pull-left">
    <a href="javascript:;" class="pull-left help">
        <i class="fa fa-question-circle"></i>
    </a>

    <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
        <i class="fa fa-angle-left"></i>
    </a>
</div>