<ul>
    <li class="active">
        <a href="/home">
            <i class="fa fa-coffee"></i>
            <span>ROR Office</span>
        </a>  
    </li>
    <li>
        <a href="/salaries/index">Salary Statement</a>
    </li>
  <li>
        <a href="/departments/">Department</a>                
    </li>
  <li>
        <a href="/employees/">Employee List</a>                
    </li>
  <li>
        <a href="/positions/">Employee Positions</a>                
    </li>
  <li>
        <a href="/meetings/">Meeting</a>                
    </li>
  <li>
        <a href="/leaves/">Employee Leave Application</a>                
    </li>
    <li>
        <a href="/issues">Issues Ticket</a>       
    </li>
    <li>
        <a href="/claims/">Claims</a>                
    </li>
</ul>