<ul>
    <li class="active">
        <a href="index.html">
            <i class="fa fa-coffee"></i>
            <span>My Office</span>
        </a>  
    </li>
    
    <li>
        <a href="/salaries/index">Salary Statement</a>
         <a href="/issues">Issues Ticket</a>               
    </li>
    
</ul>