<ul class="nav navbar-nav navbar-right off-right">
  <% if current_user %>
    <li class="hidden-xs">
        <a href="javascript:;">
          UNKNOWN ID
        </a>
    </li>

  
    <li class="quickmenu">
        <a href="javascript:;" data-toggle="dropdown">
            <img src="<%= asset_path('img/faceless.jpg') %>" class="avatar pull-left img-circle" alt="user" title="user">
            <i class="caret mg-l-xs hidden-xs no-margin"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right mg-r-xs">
           
            <li>
                <a href="profile.html">Settings</a>
            </li>
            <li>
                <a href="javascript:;">Upgrade</a>
            </li>
            <li>
                <a href="javascript:;">Notifications
                    <div class="badge bg-danger pull-right">3</div>
                </a>
            </li>
           
            <li class="divider"></li>
            <li>

              <%= link_to 'logout', destroy_user_session_path , method: :delete %>
            </li>
        </ul>
    </li>
    <% else %>
    <li class="hidden-xs">
      <%= link_to 'Log In', new_user_session_path %>
    </li>
    <% end %>
</ul>
