<h1>Create New Department</h1>
<div>
<form action="/departments/new 
              " method="post" id="new_form">
    
    <%= hidden_field_tag "authenticity_token",
        form_authenticity_token %>
    
    <div class="form-group">
        <label class="col-md-4">NAME</label>
        <div class="col-md-8">
        <input type="text" name="name"
            class="form-control"
        />
        </div>
    </div>   
    
    <div class="form-group">
        <label class="col-md-4">CODE</label>
        <div class="col-md-8">
        <input type="text" name="code"
            class="form-control"
            />
        </div>
    </div>

    <div class="action">
        <a href="#" id="btnSubmit" class="btn btn-success">Submit</a>
        <a href="/departments" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>

<% content_for :js do %>
<script type="text/javascript">
    $('#btnSubmit').click(function(){
        $('#new_form').submit();
    });
</script>
<% end %>        
    
        