<div class="header-content">
    <div class="header-content-inner">
        <h1>ROR MYOFFICE</h1>
        <hr>
        <p>Welcome to the Ruby on Rails office</p>
        <p>Hi!</p>
        <a href="/users/sign_in" class="btn btn-primary btn-xl page-scroll">LogIn</a>
        
    </div>
</div>