<h1> Details of Applicant Leave: <%= @leave.id %></h1>
<hr>
<div class="row">
    <div class="col-md-8 col-md-offset-2"> 
    <label class="col-md-2"> Start Date</label>
      <div class="col-md-6"><%= @leave.startdate %></div>
    </div>
    
    <div class="col-md-8 col-md-offset-2"> 
    <label class="col-md-2"> End Date </label>
      <div class="col-md-6"><%= @leave.enddate %></div>
    </div>
    
</div>