<h1>Salary Statement : <%= @salary.employeenum %></h1>
<hr/>
<br/><br/>
<div class = "row">
    <div class = "col-md-8 col-md-offset-2">
    <label class = "col-md-4">Name</label>
        <div class = "col-md-6"><%= @employee.name %></div>
    </div>
    
    <div class = "col-md-8 col-md-offset-2">
    <label class = "col-md-4">Mobile Phone No.</label>
        <div class = "col-md-6"><%= @employee.phonenum %></div>
    </div>
</div>